<div class="bg-white">
    <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
        <div class="text-5xl font-extrabold ...">
            <span class="bg-clip-text text-transparent bg-gradient-to-r from-green-400 to-blue-400">
                Ghibli Store
            </span>
        </div>
        
        <div class="flex flex-col m-8 gap-4">
            <h2 class="text-2xl font-bold tracking-tight text-gray-900">Views:</h2>
            <a class="text-lg no-underline hover:underline" href="/views/products">Product list</a>
            <a class="text-lg no-underline hover:underline" href="/views/realtimeproducts/">Real time products</a>
            <a class="text-lg no-underline hover:underline" href="/chat/">Chat</a>
            <a class="text-lg no-underline hover:underline" href="/views/carts/6569232dfd90f493970a65cd">Cart</a>
        </div>
        
    </div>
</div>