<header class="bg-white">
    <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
        <div class="flex lg:flex-1">
            <a href="#" class="-m-1.5 p-1.5">
                <span class="sr-only">Ghibli Store</span>
                <a href="/views/products">
                    <img class="h-10 w-auto" src="https://popahead.com/wp-content/uploads/2023/01/kodama-14.5x9.7.png" alt="app logo">
                </a>
                
            </a>
        </div>

        <div class="hidden lg:flex lg:gap-x-12">
            <a href="/views/products" class="text-sm font-semibold leading-6 text-gray-900">Products</a>
            <a href="/views/realtimeproducts" id="realTimeProductsRoute" class="text-sm font-semibold leading-6 text-gray-900 admin_role">Add products</a>
            <a href="#" id="cartRoute" class="text-sm font-semibold leading-6 text-gray-900 user_role">Cart</a>
            <a href="/views/chat" id="chatRoute" class="text-sm font-semibold leading-6 text-gray-900 user_role">Chat</a>
        </div>
        <div class="hidden lg:flex lg:flex-1 lg:justify-end space-x-8">
            <a href="#" onclick="getPremium();" id="switchRoleBtn" class="bg-indigo-500 text-white text-sm font-semibold px-4 py-1 rounded-lg hover:bg-indigo-500 hidden user_role"></a>
            <a href="#" onclick="logout(); return false;" class="hidden text-sm font-semibold leading-6 text-gray-900">Log out <span aria-hidden="true">&rarr;</span></a>
            <a href="/views/login" id="loginBtn" class="text-sm font-semibold leading-6 text-gray-900">Log in <span aria-hidden="true">&rarr;</span></a>
        
        </div>
    </nav>
</header>

<script src="/js/header.js"></script>

<style>
    .user_role, .admin_role {
        display: none;
    }
</style>